<p class="center"><%= avatar_for @user, size: "200x200" %></p><br />

<%= form_for :user, url: update_avatar_user_path(@user) do |f| %>

<%= f.file_field :avatar, class: "hidden", id: "user_avatar" %>

<div class="input-append center">
   <input id="avatar_cover" class="input-large" type="text">
   <a class="btn" id="avatar_upload_button">Browse</a>
</div><br />
 
<p class="center"><%= f.submit 'Change Avatar', class: "btn btn-primary" %></p>

<% end %>
