<p class="center"><%= avatar_for @user, size: "200x200" %></p><br />

<%= form_for :user, url: update_avatar_user_path(@user) do |f| %>

<%= f.file_field :avatar, class: "hidden", id: "user_avatar" %>

<div class="input-append center">
   <input id="avatar_cover" class="input-large" type="text">
   <a class="btn" onclick="$('input[id=user_avatar]').click();">Browse</a>
</div><br />
 
<script type="text/javascript">
$('input[id=user_avatar]').change(function() {
   $('#avatar_cover').val($(this).val());
}); 
</script>

<p class="center"><%= f.submit 'Change Avatar', class: "btn btn-primary" %></p>

<% end %>