<h1 class="center">Welcome to MyTwit<br /><small>A microblog system created purely for fun by Jiahao Li. </small></h1>
<br />
<p class="center"><%= link_to 'Register Now', new_user_path, class: 'btn btn-primary btn-large' %></p>