/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.center {
   text-align:center;
}

.form-regular input {
	width: 300px !important; 
}

.form-regular textarea {
	width: 300px !important;
}

#main_container {
	padding: 20px 0;
}

table td a.btn {
	margin: 0; 
	padding: 0;
	width: 100%;
}

.debug_dump {
	margin-top: 20px;
}

.debug {
	background: red;
}

.tweetsheet-button {
	width: 100% !important; 
	display: block !important;
	margin-bottom: 10px !important;
}

.tweetsheet-sheet {
	width: 770px !important;
}

.tweetsheet-wordcount {
}

.tweetsheet-wordcount-alerting {
	color: red;
}

.tweet-author {
	font-weight: bold; 
}

.pagination {
	text-align: center;
}

.tweet-timecode {
	color: gray;
	font-weight: normal;
}

.repost-button, .comment-button {
	margin-left: 10px;
}

.footer {
  padding: 70px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.hidden {
	display: none;
}

.timeline-avatar {
	margin: 0 20px;
}

.timeline-description {
	color: gray;
}

.timeline-section-title {
	font-weight: bold; 
}

.timeline-section-avatar {
	width: 40px; 
	height: 40px;
	display: inline;
}

.timeline-section-button {
	margin-top: 20px;
}

.show-user-avatar {
	margin: 0 20px;
}

.show-user-description {
	color: gray;
}

.search-user-avatar {
	margin-right: 20px; 
}

.color-error {
	color: red !important; 
}

.color-warning {
	color: yellow !important; 
}

.color-success {
	color: green !important;
}

.compact {
	margin: 0 !important;
}